#title {
}

.navbar{
  position: absolute;
  z-index: 1;
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
}

.search-bar{
  position: absolute;
  z-index: 1;
  left:0;
  right:0;
}

a{
  color: white;
}



video{
  position:static;
  z-index:0;
  width:100%;
  height: auto;
}

.container-fluid{
  margin:0;
  padding: 0;
  overflow-x: hidden;
}

#features{
  position:relative;
  bottom: 200px;
  text-align: center;
  padding: 7% 15%;
  background-color: white;
}


.height{

    height: 100vh;
}

.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{

        position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{

   padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}
