#title {
}

.navbar{
  position: absolute;
  z-index: 1;
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
}

a{
  color: white;
}



video{
  position:static;
  z-index:0;
  width:100%;
  height: auto;
}

.container-fluid{
  margin:0;
  padding: 0;
  overflow-x: hidden;
}

#features{
  position:relative;
  bottom: 200px;
  text-align: center;
  padding: 7% 15%;
  background-color: white;
}
